<!-- Toolbar -->
<div class="shadow-sm p-3 mb-10 toolbar fixed-top scrolling-navbar" role="banner">

  <!-- Navigation drawer btn -->
  <button class="navbar-toggler" type="button">
    <i class="fas fa-bars text-white"></i>
  </button>

  <img
    class="avatar"
    alt="Fasion shop Logo"
    src="./../../../assets/logo.jpg"
  />

  <!-- Navbar brand -->
  <span class="navbar-brand" id="welcome-text"><strong>Users Manager</strong></span>

  <nav class="navbar navbar-default">
    <!-- menu container -->
    <div class="container-fluid">
      <!-- Links -->
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="accueil"><strong>Accueil</strong></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="dashboard"><strong>DashBoard</strong></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="personnel"><strong>Personnel</strong></a>
        </li>
      </ul>
      <!-- Links -->
  
    </div>
    <!-- Collapsible content -->
  </nav>
  

  <div class="spacer"></div>
  
  <form class="form-inline mr-4" id="search-bar">
    <div class="md-form my-0">
      <input class="form-control text-light" type="text" placeholder="Search for users" aria-label="Search">
      <i class="fas fa-search text-white ml-3" aria-hidden="true"></i>
    </div>
  </form>

  <button 
    [disabled]="!isAuth" 
    (click)="logout()"
    type="button" 
    mdbBtn 
    outline="true" 
    color="light" 
    rounded="true" 
    class="waves-effect" 
    id="btn-signout"
  >
    <i class="fas fa-sign-out-alt ml-2"></i>
    Sign Out
  </button>
  <mdb-icon fas icon="bell" size="lg" class="dark-text ml-1 mr-1" aria-hidden="true"></mdb-icon>
</div>
