<!-- Toolbar -->
<div class="shadow-sm p-3 mb-5 toolbar fixed-top" role="banner">
    
  <button class="navbar-toggler hidden-lg-up text-light" data-toggle="drawer" data-target="#app-navigation-drawer">
    <span class="sr-only">Toggle drawer</span>
    <i class="fas fa-bars"></i>
  </button>

  <img
    class="avatar"
    alt="Fasion shop Logo"
    src="./../../../assets/logo.jpg"
  />
  <span id="welcome-text">Fashion Shop</span>

  <div class="navbar navbar-expand-sm">
    
  </div>

  <div class="spacer"></div>

  <form class="form-inline mr-4" id="search-bar">
    <div class="md-form my-0">
      <input class="form-control text-light" type="text" placeholder="Search" aria-label="Search">
      <i class="fas fa-search text-white ml-3" aria-hidden="true"></i>
    </div>
  </form>

  <button type="button" mdbBtn outline="true" color="light" rounded="true" class="waves-effect" id="btn-signout">
    <i class="fas fa-sign-out-alt ml-2"></i>
    Sign Out
  </button>
  <mdb-icon fas icon="bell" size="lg" class="dark-text ml-1 mr-1" aria-hidden="true"></mdb-icon>
</div>
