/* You can add global styles to this file, and also import other style files */
.bg {
    background-image: url('./assets/bg-connexion1.jpg');
    background-size: cover;
    background-position: center;
}
.bg-dark {
    background-image: url('./assets/bg-dark.jpg');
    background-size: cover;
    background-position: center;
}
