<div class="container">
    <h1 class="text-center">Users Manager</h1>
    <form class="form" [formGroup]="addUserForm" (submit)="addUser()">
        <div class="form-group">
            <input formControlName="name" [(ngModel)]="user.name" type="text" class="form-control" placeholder="nom de l'utilisateur" required/>
            <div *ngFor="let error of errorMessages.name" class="ng-container">
                <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
                    <i class="fas fa-warning text-white mr-3" aria-hidden="true"></i>
                    <small class="error-message">{{ error.message }}</small>
                </ng-container> 
            </div>
        </div>

        <div class="form-group">
            <input formControlName="surname" [(ngModel)]="user.surname" type="text" class="form-control" placeholder="prenom de l'utilisateur" required/>
            <div *ngFor="let error of errorMessages.surname" class="ng-container">
                <ng-container *ngIf="surname.hasError(error.type) && (surname.dirty || surname.touched)">
                    <small class="error-message">{{ error.message }}</small>
                </ng-container> 
            </div>
        </div>

        <div class="form-group">
            <input formControlName="email" [(ngModel)]="user.email" type="email" class="form-control" placeholder="adresse mail de l'utilisateur" required/>
            <div *ngFor="let error of errorMessages.email" class="ng-container">
                <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
                    <small class="error-message">{{ error.message }}</small>
                </ng-container> 
            </div>
        </div>

        <div class="form-group">
            <input formControlName="photoUrl" [(ngModel)]="user.photoUrl" type="file" class="form-control" placeholder="photo de l'utilisateur" accept=".png, .jpg, .jpeg" class="form-control-file" required/>
        </div>

        <div class="form-group">
            <label for="exampleFormControlSelect1">Choisir le poste</label>
            <select [(ngModel)]="user.poste" formControlName="poste" class="form-control" id="exampleFormControlSelect1" required>
                <option value="administrateur">administrateur</option>
                <option value="employe">employé</option>
            </select>
            <div *ngFor="let error of errorMessages.poste" class="ng-container">
                <ng-container *ngIf="poste.hasError(error.type) && (poste.dirty || poste.touched)">
                    <small class="error-message">{{ error.message }}</small>
                </ng-container> 
            </div>
        </div>

        <div class="form-group">
            <input formControlName="password" [(ngModel)]="user.password" type="password" class="form-control" placeholder="mot de passe" required/>
            <div *ngFor="let error of errorMessages.password" class="ng-container">
                <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
                    <small class="error-message">{{ error.message }}</small>
                </ng-container> 
            </div>
        </div>

        <button [disabled]="!addUserForm.valid" type="submit" class="btn btn-success btn-lg btn-block">
            <mdb-icon fas icon="plus" size="lg" class="light-text ml-1 mr-2" aria-hidden="true"></mdb-icon>
            ADD PERSONNEL
        </button>
    </form>

    <table class="table">
        <tr *ngFor="let user of allUsers">
            <td class="text-left">
                <a (click)="editUserCurrentInformation(user)">
                    <span class="img-box"> 
                        <img [src]="user.photoUrl" style="height: 75px; width: 80px;">
                    </span>
                </a>
            </td>
            <td class="text-left">
                <a (click)="editUserCurrentInformation(user)">
                    <span *ngIf="user!==editedUser"> Photo: {{ user.photoUrl }} </span>
                    <input *ngIf="user===editedUser" class="form-control" type="file" [(ngModel)]="user.photoUrl" accept=".png, .jpg, .jpeg" (blur)="updateUser()" class="form-control-file" required/>
                </a>
            </td>
            <td class="text-left">
                <a (click)="editUserCurrentInformation(user)">
                    <span *ngIf="user!==editedUser"> {{ user.poste }} </span>
                    <select *ngIf="user===editedUser" (change)="notifyPosteChange($event.target.value)" formControlName="poste" class="form-control" (blur)="updateUser()" (keyup.enter)="updateUser()" required>
                        <option value="administrateur">administrateur</option>
                        <option value="employe">employé</option>
                    </select>
                </a>
            </td>
            <td class="text-left">
                <a (click)="editUserCurrentInformation(user)">
                    <span *ngIf="user!==editedUser"> {{ user.name }} </span>
                    <input *ngIf="user===editedUser" class="form-control" type="text" [(ngModel)]="user.name" (blur)="updateUser()" (keyup.enter)="updateUser()" required/>
                </a>
            </td>
            <td class="text-left">
                <a (click)="editUserCurrentInformation(user)">
                    <span *ngIf="user!==editedUser"> {{ user.surname }} </span>
                    <input *ngIf="user===editedUser" class="form-control" type="text" [(ngModel)]="user.surname" (blur)="updateUser()" (keyup.enter)="updateUser()" required/>
                </a>
            </td>
            <td class="text-left">
                <a (click)="editUserCurrentInformation(user)">
                    <span *ngIf="user!==editedUser"> {{ user.email }} </span>
                    <input *ngIf="user===editedUser" class="form-control" type="email" [(ngModel)]="user.email" (blur)="updateUser()" (keyup.enter)="updateUser()" required/>
                </a>
            </td>
            <td class="text-left">
                <a (click)="editUserCurrentInformation(user)">
                    <span *ngIf="user!==editedUser"> Password choosed </span>
                    <input *ngIf="user===editedUser" class="form-control" type="password" [(ngModel)]="user.password" (blur)="updateUser()" (keyup.enter)="updateUser()" required/>
                </a>
            </td>
            <td class="text-right">
                <button class="btn btn-danger" (click)="deleteUser(user)">
                    DELETE PERSONNEL
                </button>
            </td>
        </tr>
    </table>

    <div class="card card-body bg-light text-center">
        <span class="small">Click on item to edit</span>
    </div>
</div>
<ngx-spinner name="chargement2" [fullScreen]="true" type="ball-fussion" size="medium">
    <p class="loading">Création de l'utilisateur</p>
</ngx-spinner>
<ngx-spinner name="chargement3" [fullScreen]="true" type="ball-fussion" size="medium">
    <p class="loading">Mise à jour de l'utilisateur</p>
</ngx-spinner>
<ngx-spinner name="chargement4" [fullScreen]="true" type="ball-fussion" size="medium">
    <p class="loading">Suppréssion de l'utilisateur</p>
</ngx-spinner>
<ngx-alerts></ngx-alerts>

