.error-message {
    display: contents;
    color: crimson;
}
.ng-container {
    text-align: end;
}
.container {
    padding: 1%;
    padding-top: 5em;
}
.loading{
    color: white;
    padding-top: 50px;
}
