.card {
    max-width: 600px;
    max-height: 500px;
    margin: auto;
    margin-top: 13%;
    padding: 1%;
}
.error-message {
    display: contents;
    color: red;
}
.ng-container {
    text-align: end;
}
